<div class="my-auto">
    <div id="greeting"></div>

    <h1 class="mb-0">Todor
        <span class="text-primary">Garnev</span>
    </h1>
    <div class="subheading mb-5 d-flex">
        <span class="mr-4">0896117335</span>
        <a href="mailto:tgarnev@abv.bg" class="mr-4">tgarnev@abv.bg</a>
        <span class="d-flex align-items-center">
            Sofia
            <img src="img/flags.png" class="flag ml-1" alt="Bulgaria">
        </span>
    </div>
    <p class="mb-2">I am 25 years old computer engineering enthusiast. I was born in Gotse Delchev, but my residence for the past 6 years has been Sofia. For all those years, I have been passionately devoted to studying computer science, as well as being occupied with a full-time job. </p>

    <p class="mb-2">My intention and desire is to prosper in the field of computer technologies. I look forward to develop myself and continuing my current affairs in the area, since my personal opition is that the computer science is the future. </p>

    <p class="mb-2">I am a programmer without much of a working experience. Still, I would be glad if I found myself a company where I could show my full potential and what I am capable of. </p>

    <p class="mb-5"> The site that you are currently a visitor of is created by myself. At the end of it, you are granted with the opportunity to play some games, also made by me.</p>
    <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
            <a href="https://codepen.io/tgarnev" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://repl.it/@tgarnev" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/todor-garnev-2880425a/" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/TodorGarnev" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        </li>
    </ul>
</div>
